# system files
.htaccess
.htpasswd
/config
/node_modules
.DS_Store
Thumbs.db
sitemap.xml*
.sass-cache
/nbproject/private/
.idea
.sass-cache/

# vip files
REVISION
.svn
/wp-content/themes/vip

# wpms and wordpress files
/wp
/wp-config.php
/wp-content/uploads
/wp-content/blogs.dir

 # composer managed plugins
/wp-content/plugins/*
/wp-content/drop-ins/*
/wp-content/mu-plugins/*

# for this app, composer manages the theme
/wp-content/themes/*
